    
     <div class="span4">
     
         <h1>Heading</h1>
             <p>Tagline</p>
                 <p>
                     <a class="btn btn-default">
                         Learn more
                     </a>
            
              </p>
      </div>

       
        <div class="span3">
            <div id="phone">
              <a>  <%= image_tag("phone.png", :alt => "phone") %></a>

            </div>
        </div>
   


